# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv/
venv/

# Build
build/
dist/
*.egg-info/


# Backup files
*.bak

# Test cache
.pytest_cache/

# Test program
locales/
prompts/
main.py
error.log

# Type checker cache
.mypy_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
